{{!--
    HTML OPTION

--}}<option {{!--
    --}}{{> tmpl_html_base_attributes }}{{!--
    --}}{{> tmpl_html_attributes_option }}{{!--
--}}>{{!--
    --}}{{> tmpl_partialContext }}{{!--
--}}</option>{{!--
--}}