{{!--
    HTML LABEL

--}}<label {{!--
    --}}{{> tmpl_html_base_attributes }}{{!--
    --}}{{> tmpl_html_attributes_label }}{{!--
--}}>{{!--
    --}}{{> tmpl_partialContext }}{{!--
--}}</label>{{!--
--}}