/* ==============================
    # reformatting html tag styles
   ============================== */

/* ------------------------------
    ## base structure
   ------------------------------ */

body {
  border-color: $black;
  font-family: $body-font-family;
  font-size: $small-font-size;
  margin: 0 auto;
  min-width: 320px;
  //max-width: -zf-get-bp-val($breakpoints, 'medium');

  //@include breakpoint(medium) {
  //  max-width: -zf-get-bp-val($breakpoints, 'large');
  //}
  //@include breakpoint(large) {
  //  max-width: -zf-get-bp-val($breakpoints, 'xlarge');
  //}
  //@include breakpoint(xlarge) {
  //  max-width: -zf-get-bp-val($breakpoints, 'xxlarge');
  //}
  //@include breakpoint(xxlarge) {
  //  max-width: -zf-get-bp-val($breakpoints, 'xxlarge');
  //}
  @include breakpoint(large up) {
    font-size: $global-font-size;
  }
}


/* ------------------------------
    ## headlines
   ------------------------------ */

h1,
h2,
h3 {
  font-family: $-kbs-font-family-prokyon-bold;

  .headline-main {
    > strong {
      font-family: inherit;
      font-weight: normal;
    }
  }

  .headline-sub-wrapper > .headline-sub {
    font-family: $-kbs-font-family-prokyon-regular;
    font-weight: normal;
  }
}

h4 {
  font-family: $-kbs-font-family-profile-bold;
}

h5 {
  font-family: $-kbs-font-family-profile-bold;
  line-height: 120%;
}

h6 {
  font-family: $-kbs-font-family-profile-bold;
  color: $dark-gray;
  line-height: 140%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $header-margin-bottom;

  > a {
    text-transform: none !important;
  }
}

.h1 {
  @extend h1;
}

.h2 {
  @extend h2;
}

.h3 {
  @extend h3;
}

.h4 {
  @extend h4;
}

.h5 {
  @extend h5;
}

.h6 {
  @extend h6;
}

/* ------------------------------
    ## placeholder
   ------------------------------ */

// Placeholder fuer die Headlines in weisser Schrift
%white-headlines {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    color: $white;
  }
}

/* ------------------------------
## form elements
------------------------------ */

@import "forms/reformattings";

/* ------------------------------
    ## formattings
   ------------------------------ */

a {
  @include -kbs-link-style-simple();
}

abbr {
  border-bottom: 1px solid $black;
}

blockquote {
  margin: 1em 1em 2em;
  background: $medium-gray;

  p {
    padding: 1em;
  }
}

strong {
  font-family: $-kbs-font-family-profile-bold;

  h1 &,
  h2 &,
  h3 &,
  h4 &,
  h5 &,
  h6 & {
    font-family: inherit;
  }
}

// Bildunterschriften / Legenden
.caption,
figcaption {
  font-family: $-kbs-font-family-profile-regular;
  line-height: 140%;
  font-size: 12px;
  color: $dark-gray;
  padding-top: 20px;
  font-weight: normal;

  @include breakpoint(large up) {
    font-size: 15px;
  }

  > strong {
    font-family: $-kbs-font-family-profile-bold;
  }
}

.tooltip {
  max-width: 30rem !important;
}

//a,
//button,
//input,
//select {
//  &:focus {
//    border: 2px solid $dark-gray;
//
//    @include -kbs-on-background((
//            $-kbs-color-key--dark-gray
//    )) {
//      border-color: $white;
//    }
//  }
//}

