/* ==============================
    # modules
   ============================== */
.module {
  margin: 0 auto;
  width: 100%;

  /* ------------------------------
      ## Module headlines
     ------------------------------ */

  .module-headline {

    > .headline-main,
    > .headline-sub-wrapper > .headline-sub {
    }

    > .headline-main {
    }

    > .headline-sub-wrapper {
    }
  }

  > .module-headline {
  }

  /* ------------------------------
      # Modul Container
      Eigentlicher Container des Moduls
     ------------------------------ */
  > .module-container {

    /* ------------------------------
        # Modul Container Wrapper
        Zusaetzlicher Container fuer die farblich hinterlegten Module
       ------------------------------ */
    > .module-container-wrapper {
      margin: 0 auto;
    }
  }

  /* ------------------------------
        # Modul Action
        Container für die Buttons / Links am Ende eines Moduls
     ------------------------------ */
  .module_action {
  }
}


/* ------------------------------
    # include separate module files
   ------------------------------ */
//@import "module_XY";

/* ------------------------------
    # include separate module_part files
   ------------------------------ */
//@import "parts/parts";

/* ------------------------------
    # print
   ------------------------------ */
@import 'print/print';
