$-nsg-image-SocialMedia---daumen-x: -50px;
$-nsg-image-SocialMedia---daumen-y: -50px;
$-nsg-image-SocialMedia---daumen-width: 95px;
$-nsg-image-SocialMedia---daumen-height: 97px;
$-nsg-image-SocialMedia---daumen: $-nsg-image-SocialMedia---daumen-x $-nsg-image-SocialMedia---daumen-y $-nsg-image-SocialMedia---daumen-width $-nsg-image-SocialMedia---daumen-height;
$-nsg-image-SocialMedia---pinterest-x: -245px;
$-nsg-image-SocialMedia---pinterest-y: -50px;
$-nsg-image-SocialMedia---pinterest-width: 32px;
$-nsg-image-SocialMedia---pinterest-height: 32px;
$-nsg-image-SocialMedia---pinterest: $-nsg-image-SocialMedia---pinterest-x $-nsg-image-SocialMedia---pinterest-y $-nsg-image-SocialMedia---pinterest-width $-nsg-image-SocialMedia---pinterest-height;
$-nsg-image-SocialMedia---delicious-x: -377px;
$-nsg-image-SocialMedia---delicious-y: -50px;
$-nsg-image-SocialMedia---delicious-width: 32px;
$-nsg-image-SocialMedia---delicious-height: 32px;
$-nsg-image-SocialMedia---delicious: $-nsg-image-SocialMedia---delicious-x $-nsg-image-SocialMedia---delicious-y $-nsg-image-SocialMedia---delicious-width $-nsg-image-SocialMedia---delicious-height;
$-nsg-image-SocialMedia---digg_black-x: -50px;
$-nsg-image-SocialMedia---digg_black-y: -247px;
$-nsg-image-SocialMedia---digg_black-width: 32px;
$-nsg-image-SocialMedia---digg_black-height: 32px;
$-nsg-image-SocialMedia---digg_black: $-nsg-image-SocialMedia---digg_black-x $-nsg-image-SocialMedia---digg_black-y $-nsg-image-SocialMedia---digg_black-width $-nsg-image-SocialMedia---digg_black-height;
$-nsg-image-SocialMedia---digg_blue-x: -182px;
$-nsg-image-SocialMedia---digg_blue-y: -247px;
$-nsg-image-SocialMedia---digg_blue-width: 32px;
$-nsg-image-SocialMedia---digg_blue-height: 32px;
$-nsg-image-SocialMedia---digg_blue: $-nsg-image-SocialMedia---digg_blue-x $-nsg-image-SocialMedia---digg_blue-y $-nsg-image-SocialMedia---digg_blue-width $-nsg-image-SocialMedia---digg_blue-height;
$-nsg-image-SocialMedia---evernote-x: -314px;
$-nsg-image-SocialMedia---evernote-y: -247px;
$-nsg-image-SocialMedia---evernote-width: 32px;
$-nsg-image-SocialMedia---evernote-height: 32px;
$-nsg-image-SocialMedia---evernote: $-nsg-image-SocialMedia---evernote-x $-nsg-image-SocialMedia---evernote-y $-nsg-image-SocialMedia---evernote-width $-nsg-image-SocialMedia---evernote-height;
$-nsg-image-SocialMedia---facebook_blue-x: -509px;
$-nsg-image-SocialMedia---facebook_blue-y: -50px;
$-nsg-image-SocialMedia---facebook_blue-width: 32px;
$-nsg-image-SocialMedia---facebook_blue-height: 32px;
$-nsg-image-SocialMedia---facebook_blue: $-nsg-image-SocialMedia---facebook_blue-x $-nsg-image-SocialMedia---facebook_blue-y $-nsg-image-SocialMedia---facebook_blue-width $-nsg-image-SocialMedia---facebook_blue-height;
$-nsg-image-SocialMedia---facebook-x: -509px;
$-nsg-image-SocialMedia---facebook-y: -182px;
$-nsg-image-SocialMedia---facebook-width: 32px;
$-nsg-image-SocialMedia---facebook-height: 32px;
$-nsg-image-SocialMedia---facebook: $-nsg-image-SocialMedia---facebook-x $-nsg-image-SocialMedia---facebook-y $-nsg-image-SocialMedia---facebook-width $-nsg-image-SocialMedia---facebook-height;
$-nsg-image-SocialMedia---google-x: -50px;
$-nsg-image-SocialMedia---google-y: -379px;
$-nsg-image-SocialMedia---google-width: 32px;
$-nsg-image-SocialMedia---google-height: 32px;
$-nsg-image-SocialMedia---google: $-nsg-image-SocialMedia---google-x $-nsg-image-SocialMedia---google-y $-nsg-image-SocialMedia---google-width $-nsg-image-SocialMedia---google-height;
$-nsg-image-SocialMedia---googleplus_red-x: -182px;
$-nsg-image-SocialMedia---googleplus_red-y: -379px;
$-nsg-image-SocialMedia---googleplus_red-width: 32px;
$-nsg-image-SocialMedia---googleplus_red-height: 32px;
$-nsg-image-SocialMedia---googleplus_red: $-nsg-image-SocialMedia---googleplus_red-x $-nsg-image-SocialMedia---googleplus_red-y $-nsg-image-SocialMedia---googleplus_red-width $-nsg-image-SocialMedia---googleplus_red-height;
$-nsg-image-SocialMedia---linkarena-x: -314px;
$-nsg-image-SocialMedia---linkarena-y: -379px;
$-nsg-image-SocialMedia---linkarena-width: 32px;
$-nsg-image-SocialMedia---linkarena-height: 32px;
$-nsg-image-SocialMedia---linkarena: $-nsg-image-SocialMedia---linkarena-x $-nsg-image-SocialMedia---linkarena-y $-nsg-image-SocialMedia---linkarena-width $-nsg-image-SocialMedia---linkarena-height;
$-nsg-image-SocialMedia---linkedin-x: -446px;
$-nsg-image-SocialMedia---linkedin-y: -379px;
$-nsg-image-SocialMedia---linkedin-width: 32px;
$-nsg-image-SocialMedia---linkedin-height: 32px;
$-nsg-image-SocialMedia---linkedin: $-nsg-image-SocialMedia---linkedin-x $-nsg-image-SocialMedia---linkedin-y $-nsg-image-SocialMedia---linkedin-width $-nsg-image-SocialMedia---linkedin-height;
$-nsg-image-SocialMedia---misterwong-x: -641px;
$-nsg-image-SocialMedia---misterwong-y: -50px;
$-nsg-image-SocialMedia---misterwong-width: 32px;
$-nsg-image-SocialMedia---misterwong-height: 32px;
$-nsg-image-SocialMedia---misterwong: $-nsg-image-SocialMedia---misterwong-x $-nsg-image-SocialMedia---misterwong-y $-nsg-image-SocialMedia---misterwong-width $-nsg-image-SocialMedia---misterwong-height;
$-nsg-image-SocialMedia---bufferapp-x: -641px;
$-nsg-image-SocialMedia---bufferapp-y: -182px;
$-nsg-image-SocialMedia---bufferapp-width: 32px;
$-nsg-image-SocialMedia---bufferapp-height: 32px;
$-nsg-image-SocialMedia---bufferapp: $-nsg-image-SocialMedia---bufferapp-x $-nsg-image-SocialMedia---bufferapp-y $-nsg-image-SocialMedia---bufferapp-width $-nsg-image-SocialMedia---bufferapp-height;
$-nsg-image-SocialMedia---pocket-x: -641px;
$-nsg-image-SocialMedia---pocket-y: -314px;
$-nsg-image-SocialMedia---pocket-width: 32px;
$-nsg-image-SocialMedia---pocket-height: 32px;
$-nsg-image-SocialMedia---pocket: $-nsg-image-SocialMedia---pocket-x $-nsg-image-SocialMedia---pocket-y $-nsg-image-SocialMedia---pocket-width $-nsg-image-SocialMedia---pocket-height;
$-nsg-image-SocialMedia---print-x: -50px;
$-nsg-image-SocialMedia---print-y: -511px;
$-nsg-image-SocialMedia---print-width: 32px;
$-nsg-image-SocialMedia---print-height: 32px;
$-nsg-image-SocialMedia---print: $-nsg-image-SocialMedia---print-x $-nsg-image-SocialMedia---print-y $-nsg-image-SocialMedia---print-width $-nsg-image-SocialMedia---print-height;
$-nsg-image-SocialMedia---reddit-x: -182px;
$-nsg-image-SocialMedia---reddit-y: -511px;
$-nsg-image-SocialMedia---reddit-width: 32px;
$-nsg-image-SocialMedia---reddit-height: 32px;
$-nsg-image-SocialMedia---reddit: $-nsg-image-SocialMedia---reddit-x $-nsg-image-SocialMedia---reddit-y $-nsg-image-SocialMedia---reddit-width $-nsg-image-SocialMedia---reddit-height;
$-nsg-image-SocialMedia---stumbleupon-x: -314px;
$-nsg-image-SocialMedia---stumbleupon-y: -511px;
$-nsg-image-SocialMedia---stumbleupon-width: 32px;
$-nsg-image-SocialMedia---stumbleupon-height: 32px;
$-nsg-image-SocialMedia---stumbleupon: $-nsg-image-SocialMedia---stumbleupon-x $-nsg-image-SocialMedia---stumbleupon-y $-nsg-image-SocialMedia---stumbleupon-width $-nsg-image-SocialMedia---stumbleupon-height;
$-nsg-image-SocialMedia---tumblr-x: -446px;
$-nsg-image-SocialMedia---tumblr-y: -511px;
$-nsg-image-SocialMedia---tumblr-width: 32px;
$-nsg-image-SocialMedia---tumblr-height: 32px;
$-nsg-image-SocialMedia---tumblr: $-nsg-image-SocialMedia---tumblr-x $-nsg-image-SocialMedia---tumblr-y $-nsg-image-SocialMedia---tumblr-width $-nsg-image-SocialMedia---tumblr-height;
$-nsg-image-SocialMedia---twitter_blue_t-x: -578px;
$-nsg-image-SocialMedia---twitter_blue_t-y: -511px;
$-nsg-image-SocialMedia---twitter_blue_t-width: 32px;
$-nsg-image-SocialMedia---twitter_blue_t-height: 32px;
$-nsg-image-SocialMedia---twitter_blue_t: $-nsg-image-SocialMedia---twitter_blue_t-x $-nsg-image-SocialMedia---twitter_blue_t-y $-nsg-image-SocialMedia---twitter_blue_t-width $-nsg-image-SocialMedia---twitter_blue_t-height;
$-nsg-image-SocialMedia---twitter_blue-x: -773px;
$-nsg-image-SocialMedia---twitter_blue-y: -50px;
$-nsg-image-SocialMedia---twitter_blue-width: 32px;
$-nsg-image-SocialMedia---twitter_blue-height: 32px;
$-nsg-image-SocialMedia---twitter_blue: $-nsg-image-SocialMedia---twitter_blue-x $-nsg-image-SocialMedia---twitter_blue-y $-nsg-image-SocialMedia---twitter_blue-width $-nsg-image-SocialMedia---twitter_blue-height;
$-nsg-image-SocialMedia---twitter_white-x: -773px;
$-nsg-image-SocialMedia---twitter_white-y: -182px;
$-nsg-image-SocialMedia---twitter_white-width: 32px;
$-nsg-image-SocialMedia---twitter_white-height: 32px;
$-nsg-image-SocialMedia---twitter_white: $-nsg-image-SocialMedia---twitter_white-x $-nsg-image-SocialMedia---twitter_white-y $-nsg-image-SocialMedia---twitter_white-width $-nsg-image-SocialMedia---twitter_white-height;
$-nsg-image-SocialMedia---webnews-x: -773px;
$-nsg-image-SocialMedia---webnews-y: -314px;
$-nsg-image-SocialMedia---webnews-width: 32px;
$-nsg-image-SocialMedia---webnews-height: 32px;
$-nsg-image-SocialMedia---webnews: $-nsg-image-SocialMedia---webnews-x $-nsg-image-SocialMedia---webnews-y $-nsg-image-SocialMedia---webnews-width $-nsg-image-SocialMedia---webnews-height;
$-nsg-image-SocialMedia---wordpress_black-x: -773px;
$-nsg-image-SocialMedia---wordpress_black-y: -446px;
$-nsg-image-SocialMedia---wordpress_black-width: 32px;
$-nsg-image-SocialMedia---wordpress_black-height: 32px;
$-nsg-image-SocialMedia---wordpress_black: $-nsg-image-SocialMedia---wordpress_black-x $-nsg-image-SocialMedia---wordpress_black-y $-nsg-image-SocialMedia---wordpress_black-width $-nsg-image-SocialMedia---wordpress_black-height;
$-nsg-image-SocialMedia---wordpress_white-x: -50px;
$-nsg-image-SocialMedia---wordpress_white-y: -643px;
$-nsg-image-SocialMedia---wordpress_white-width: 32px;
$-nsg-image-SocialMedia---wordpress_white-height: 32px;
$-nsg-image-SocialMedia---wordpress_white: $-nsg-image-SocialMedia---wordpress_white-x $-nsg-image-SocialMedia---wordpress_white-y $-nsg-image-SocialMedia---wordpress_white-width $-nsg-image-SocialMedia---wordpress_white-height;
$-nsg-image-SocialMedia---youtube_red-x: -182px;
$-nsg-image-SocialMedia---youtube_red-y: -643px;
$-nsg-image-SocialMedia---youtube_red-width: 32px;
$-nsg-image-SocialMedia---youtube_red-height: 32px;
$-nsg-image-SocialMedia---youtube_red: $-nsg-image-SocialMedia---youtube_red-x $-nsg-image-SocialMedia---youtube_red-y $-nsg-image-SocialMedia---youtube_red-width $-nsg-image-SocialMedia---youtube_red-height;
$-nsg-image-SocialMedia---youtube_white-x: -314px;
$-nsg-image-SocialMedia---youtube_white-y: -643px;
$-nsg-image-SocialMedia---youtube_white-width: 32px;
$-nsg-image-SocialMedia---youtube_white-height: 32px;
$-nsg-image-SocialMedia---youtube_white: $-nsg-image-SocialMedia---youtube_white-x $-nsg-image-SocialMedia---youtube_white-y $-nsg-image-SocialMedia---youtube_white-width $-nsg-image-SocialMedia---youtube_white-height;


// KBS generated Map
$-nsg-image-SocialMedia---sprite-map: (
        '-nsg-image-SocialMedia---daumen': $-nsg-image-SocialMedia---daumen,
        '-nsg-image-SocialMedia---pinterest': $-nsg-image-SocialMedia---pinterest,
        '-nsg-image-SocialMedia---delicious': $-nsg-image-SocialMedia---delicious,
        '-nsg-image-SocialMedia---digg_black': $-nsg-image-SocialMedia---digg_black,
        '-nsg-image-SocialMedia---digg_blue': $-nsg-image-SocialMedia---digg_blue,
        '-nsg-image-SocialMedia---evernote': $-nsg-image-SocialMedia---evernote,
        '-nsg-image-SocialMedia---facebook_blue': $-nsg-image-SocialMedia---facebook_blue,
        '-nsg-image-SocialMedia---facebook': $-nsg-image-SocialMedia---facebook,
        '-nsg-image-SocialMedia---google': $-nsg-image-SocialMedia---google,
        '-nsg-image-SocialMedia---googleplus_red': $-nsg-image-SocialMedia---googleplus_red,
        '-nsg-image-SocialMedia---linkarena': $-nsg-image-SocialMedia---linkarena,
        '-nsg-image-SocialMedia---linkedin': $-nsg-image-SocialMedia---linkedin,
        '-nsg-image-SocialMedia---misterwong': $-nsg-image-SocialMedia---misterwong,
        '-nsg-image-SocialMedia---bufferapp': $-nsg-image-SocialMedia---bufferapp,
        '-nsg-image-SocialMedia---pocket': $-nsg-image-SocialMedia---pocket,
        '-nsg-image-SocialMedia---print': $-nsg-image-SocialMedia---print,
        '-nsg-image-SocialMedia---reddit': $-nsg-image-SocialMedia---reddit,
        '-nsg-image-SocialMedia---stumbleupon': $-nsg-image-SocialMedia---stumbleupon,
        '-nsg-image-SocialMedia---tumblr': $-nsg-image-SocialMedia---tumblr,
        '-nsg-image-SocialMedia---twitter_blue_t': $-nsg-image-SocialMedia---twitter_blue_t,
        '-nsg-image-SocialMedia---twitter_blue': $-nsg-image-SocialMedia---twitter_blue,
        '-nsg-image-SocialMedia---twitter_white': $-nsg-image-SocialMedia---twitter_white,
        '-nsg-image-SocialMedia---webnews': $-nsg-image-SocialMedia---webnews,
        '-nsg-image-SocialMedia---wordpress_black': $-nsg-image-SocialMedia---wordpress_black,
        '-nsg-image-SocialMedia---wordpress_white': $-nsg-image-SocialMedia---wordpress_white,
        '-nsg-image-SocialMedia---youtube_red': $-nsg-image-SocialMedia---youtube_red,
        '-nsg-image-SocialMedia---youtube_white': $-nsg-image-SocialMedia---youtube_white);

@mixin -nsg-image-SocialMedia---sprite-image {
  background-image: url("../img/KN/SocialMedia-sprite.png");
}

@mixin -nsg-image-SocialMedia---sprite-position($sprite) {
  background-position: nth($sprite, 1) nth($sprite, 2);
}

@mixin -nsg-image-SocialMedia---sprite-width($sprite) {
  width: nth($sprite, 3);
}

@mixin -nsg-image-SocialMedia---sprite-height($sprite) {
  height: nth($sprite, 4);
}

@mixin -nsg-image-SocialMedia---sprite($sprite) {
  @if $sprite {
    @include -nsg-image-SocialMedia---sprite-image;
    @include -nsg-image-SocialMedia---sprite-position($sprite);
    @include -nsg-image-SocialMedia---sprite-width($sprite);
    @include -nsg-image-SocialMedia---sprite-height($sprite);
    @content;
  }
}


// KBS generated default Parameter values
$-nsg-image-SocialMedia---sprite-default-size: $-kbs-default-image-size;
$-nsg-image-SocialMedia---sprite-default-color-key: $-kbs-default-image-color-key;
$-nsg-image-SocialMedia---sprite-default-separator: '---';
$-nsg-image-SocialMedia---sprite-default-prefix: '-nsg-image-SocialMedia---';
$-nsg-image-SocialMedia---sprite-default-suffix: null;

// KBS generated functions to access Icon with generated Keys
@function -nsg-image-SocialMedia---sprite-has-image($base-imagename, $size: $-nsg-image-SocialMedia---sprite-default-size, $color-key: $-nsg-image-SocialMedia---sprite-default-color-key, $separator: $-nsg-image-SocialMedia---sprite-default-separator, $prefix: $-nsg-image-SocialMedia---sprite-default-prefix, $suffix: $-nsg-image-SocialMedia---sprite-default-suffix) {
  $sprite-key: -kbs-sprite-image-name($base-imagename, $size, $color-key, $separator, $prefix, $suffix);
  $hasKey: map-has-key($-nsg-image-Budicon---sprite-map, $sprite-key);

  @if not hasKey {
    @debug ('Das Bild mit dem Namen #{$sprite-key} konnte in der Budicon Srpite-Map nicht gefunden werden.');
  }
  @return $hasKey;
}

@function -nsg-image-SocialMedia---sprite-get-image($base-imagename, $size: $-nsg-image-SocialMedia---sprite-default-size, $color-key: $-nsg-image-SocialMedia---sprite-default-color-key, $separator: $-nsg-image-SocialMedia---sprite-default-separator, $prefix: $-nsg-image-SocialMedia---sprite-default-prefix, $suffix: $-nsg-image-SocialMedia---sprite-default-suffix) {
  @if (-nsg-image-SocialMedia---sprite-has-image($base-imagename, $size, $color-key, $separator, $prefix, $suffix)) {
    $sprite-key: -kbs-sprite-image-name($base-imagename, $size, $color-key, $separator, $prefix, $suffix);
    @return map-get($-nsg-image-SocialMedia---sprite-map, $sprite-key);
  } @else if $color-key {
    @if $color-key != $-kbs-default-image-color-key {
      @return -nsg-image-SocialMedia---sprite-get-image($base-imagename, $size, $-kbs-default-image-color-key, $separator, $prefix, $suffix);
    }
  }
  @return null;
}