{{!--
    HTML SECTION

--}}<section {{!--
    --}}{{> tmpl_html_base_attributes }}{{!--
    --}}{{> tmpl_html_attributes_section }}{{!--
--}}>{{!--
    --}}{{> tmpl_partialBlock }}{{!--
--}}</section>{{!--
--}}