{{!--
    HTML BUTTON

--}}<button {{!--
    --}}{{> tmpl_html_base_attributes }}{{!--
    --}}{{> tmpl_html_attributes_button }}{{!--
--}}>{{!--
    --}}{{> tmpl_partialBlock }}{{!--
--}}</button>{{!--
--}}