{{!--
    HTML TABLE

--}}<table {{!--
    --}}{{> tmpl_html_base_attributes }}{{!--
    --}}{{> tmpl_html_attributes_table }}{{!--
--}}>{{!--
    --}}{{> tmpl_partialBlock }}{{!--
--}}</table>{{!--
--}}